@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@800&family=Quicksand:wght@700&display=swap');

:root {
    --font-title: 'Barlow Condensed', sans-serif;
    --font-body: 'Quicksand', sans-serif;
    --color-algo-paradigms: #a7ed34;
    --color-dev-tools: #3fede3;
    --color-dev-front: #ff46b5;
    --color-dev-back: #a96ef4;
}
@page {
    size: a4 portrait;
    margin: 0mm;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-body);
    font-weight: 700;
    font-size: 6.8pt;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}

#app {
    display: flex;
    flex-wrap: wrap;
    width: 210mm;
    height: 297mm;
    gap: 3mm 5mm;
    /* background-image: url(/patron.jpg); */
    /* border: 0.5mm dashed magenta; */
    background-size: 100% 100%;
    padding: 13mm 7mm 13mm 9mm;
}

.card {
    /* opacity: 0.5; */
    padding: 3mm;
    width: 61mm;
    height: 88mm;
    display: flex;
    flex-direction: column;
    border-radius: 3mm;
}

.card:has(.questions) {
    background-color: var(--color);
}

.card:has(.answers) {
    color: var(--color);
    background-color: black;
}

.card:has(.answers) .answers {
    color: black;
}

.card .header {
    display: grid;
    gap: 0 1.2mm;
    height: 20mm;
    justify-content: start;
    align-content: center;
    grid-auto-rows: min-content;
    grid-template-areas: 'icon ttmc' 'icon theme';
}

.card .theme {
    grid-area: theme;
    text-wrap: balance;
    font-size: var(--size);
    line-height: var(--size);
    font-family: var(--font-title);
    font-weight: 800;
    text-transform: uppercase;
}

.card.back .theme {
    font-size: 20pt;
}

.card .icon {
    grid-area: icon;
    width: 12mm;
    align-self: center;
}

.card .questions,
.card .answers {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
}

.card .question,
.card .answer {
    border-radius: 1mm;
    background-color: white;
    align-items: center;
}

.card .question {
    border: 0.5mm solid black;
}

.card .answer {
    border: 0.5mm solid var(--color);
}

.card .question p,
.card .answer p {
    margin: 0;
    padding: 1.5mm;
    text-wrap: balance;
}

.card code {
    padding: 1px 2px;
    font-size: 6pt;
    font-family: Menlo, monospace;
    background-color: #eeeeee;
    border-radius: 3px;
}

.card .question .num,
.card .answer .num {
    display: grid;
    place-items: center;
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    float: left;
    margin-right: 5px;
    border-end-end-radius: 2px;
}

.card .question .num {
    color: white;
    background-color: black;
}

.card .answer .num {
    color: black;
    background-color: var(--color);
}
